*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* ==================== */
/* text fadein Class "fadeIn" */
.animatto-fadeIn{
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
}


/* ==================== */
/* text fadein Class "fadeOut" animations */
.animatto-fadeOut{
    opacity: 1;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
}


/* ==================== */
/* text fadein Class "slide-FadeIn" animations */
.animatto-slide-fadeIn{
    position: relative;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;

    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
}




/* ==================== */
/* text fadein Class "slide-FadeIn" animations */
.animatto-slide-fadeOut{
    position: relative;
    opacity: 1;
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
}










