/* fade in animation class : "animatto-fadeIn" */
/* fade out animation class : "animatto-fadeOut" */
/* slide fade in animation class : "animatto-slide-fadeIn" */
/* slide fade out animation class : "animatto-slide-fadeOut" */
/* animation fadeUp one : "animatto-fadeUp-One */
/* animation fadeUp one : "animatto-fadeUp-Two */
/* animation timing class : "animatto-timing" */
/* animation fadein Bounce one class : "animatto-fadeIn-Bounce-One" */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* some reuseable toggle classes for javascript DOM manipulation */
.animatto-display-none {
    display: none;
}

.animatto-display-block {
    display: block;
}



/* ==================== */
/* text fadein Class "fadeOut" animations */
.animatto-fadeOut {
    opacity: 0;
}

/* fadeUp two animation needs a container to achieve its effect */
.animatto-fadeUp-two-container {
    overflow-y: hidden;
}











@keyframes animatto-fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animatto-fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
    }
}

@keyframes animatto-slide-fadeIn {
    from {
        transform: translateX(-20%);
        -webkit-transform: translateX(-20%);
        -moz-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
        -o-transform: translateX(-20%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes animatto-slide-fadeOut {
    from {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        opacity: 1;
    }

    to {
        transform: translateX(30%);
        -webkit-transform: translateX(30%);
        -moz-transform: translateX(30%);
        -ms-transform: translateX(30%);
        -o-transform: translateX(30%);
        opacity: 0;
    }
}

@keyframes animatto-fadeUp-One {
    from {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-30%);
        -webkit-transform: translateY(-30%);
        -moz-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
        -o-transform: translateY(-30%);
        opacity: 0;
    }
}

@keyframes animatto-fadeUp-two {
    from {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);

    }

    to {
        transform: translateY(-80%);
        -webkit-transform: translateY(-80%);
        -moz-transform: translateY(-80%);
        -ms-transform: translateY(-80%);
        -o-transform: translateY(-80%);
    }
}

/* ---fade__in__bounce--- */
@keyframes animatto-fade-in-bounce-one{
    0%{
        transform: translateX(-50%)   ;
        -webkit-transform: translateX(-50%)   ;
        -moz-transform: translateX(-50%)   ;
        -ms-transform: translateX(-50%)   ;
        -o-transform: translateX(-50%)   ;
        opacity:0;
    }
    30%{
        transform: translateX(8%)   ;
        -webkit-transform: translateX(8%)   ;
        -moz-transform: translateX(8%)   ;
        -ms-transform: translateX(8%)   ;
        -o-transform: translateX(8%)   ;
    }
    60%{
        transform: translateX(5%)   ;
        -webkit-transform: translateX(5%)   ;
        -moz-transform: translateX(5%)   ;
        -ms-transform: translateX(5%)   ;
        -o-transform: translateX(5%)   ;
    }80%{
        transform: translateX(2%)   ;
        -webkit-transform: translateX(2%)   ;
        -moz-transform: translateX(2%)   ;
        -ms-transform: translateX(2%)   ;
        -o-transform: translateX(2%)   ;
    }   
    /* reset point */
    50%,70%, 90%,100%{
        transform: translateX(0%)   ;
        -webkit-transform: translateX(0%)   ;
        -moz-transform: translateX(0%)   ;
        -ms-transform: translateX(0%)   ;
        -o-transform: translateX(0%)   ;
        opacity:1;
    }
}